* {
    list-style: none;
    color: aliceblue;
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(0, 0, 39);
}
.container {
    display: grid;
    grid-template-columns: 250px 4fr;
}

header {
    border: 1px solid white;
    border-radius: 10px;
    grid-column: 1 / 3;
    height: 60px;
    text-align: center;
    margin: 5px;
    font-size: 1.2em;
}

header > h3 {
    margin-top: 15px;
}

.formContainer {
    margin-top: 75px;
    position: absolute;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    /* centers the absolute div */
    width: 317px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.notVisible {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

form[action="todo-list-form"] {
    display: flex;
    align-items: center;
    gap: 10px;
}

input[id="title"] {
    margin-bottom: 5px;
    height: 20px;
}

textarea[id="description"],
input[id="title"],
select {
    width: 170px;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.sidebar {
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-weight: bold;
    font-size: 1.2em;
    height: 100%;
    width: 191px;

}

.addNewTask:hover {
    padding: 5px;
    border: 1px solid white;
    border-radius: 10px;
    width: fit-content;
    color: black;
    background-color: rgb(197, 198, 211);
    cursor: pointer;
}

.sidebar > ul > li {
    margin-bottom: 25px;
    color: rgb(179, 179, 179)
}

.sidebar > ul > li:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.sidebar > div > span {
    background-color: blue;
    border-radius: 1000px;
    padding: 4px 8px 4px 8px;
}

.todoItems {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    margin: 5px;
    gap: 10px;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: fit-content;
    width: 300px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    align-items: center;

}

.priorityChecked {
    background-color: black;
}

.topItemArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.topItemArea > div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
}

.topItemArea > div > h5 {
    font-size: 1.5em;
}

.checklistItemDisplay {
    width: 100%;
    padding-left: 50px;
}

.addNewChecklistItem {
    width: 100%;
    text-align: right;
}

.addNewChecklistItem > button {
    width: 70px;
}

.bottomItemArea > button {
    border-radius: 20px;
    width: 130px;
    height: 35px;
}